.equal-card {
    height: 100%;  /* Asegura que todas las tarjetas tengan la misma altura */
}

.card-body {
    display: flex;
    flex-direction: column;  /* Alinea los elementos dentro de la tarjeta */
    justify-content: space-between;  /* Espacia los elementos */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si no hay suficiente espacio */

}
.header-body {
    margin-top: -50px; /* Ajusta este valor según lo necesites */
}

.card-stats {
    margin-bottom: 15px; /* Asegúrate de que haya espacio entre las tarjetas */
}

.custom-col-size {
    flex: 0 0 12%; /* 12.5% es equivalente a 1.5 de 12 columnas */
    max-width: 11%;
    height: 145px; /* Cambia 200px por la altura que desees */
  }