ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  margin-left: 10px;
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
}

input {
  margin: 5px;
}
