//
// Table
//

// General styles

.table {
    thead th {
        padding-top: $table-head-spacer-y;
        padding-bottom: $table-head-spacer-y;
        font-size: $table-head-font-size;
        text-transform: $table-head-text-transform;
        letter-spacing: $table-head-letter-spacing;
        border-bottom: $table-border-width solid $table-border-color;
    }

    th {
        font-weight: $table-head-font-weight;
    }

    td {
        .progress {
            height: 3px;
            width: 120px;
            margin: 0;
        }
    }

    td,
    th {
        font-size: 14px;
        white-space: nowrap;
    }


    // Vetical align table content

    &.align-items-center {
        td,
        th {
            vertical-align: middle;
        }
    }


   // Styles for dark table

   .thead-dark {
        th {
            background-color: $table-dark-head-bg;
            color: $table-dark-head-color;
        }
    }


    // Styles for light table

    .thead-light {
        th {
            background-color: $table-head-bg;
            color: $table-head-color;
        }
    }
}


// Add transition for hover state

.table-hover {
    tr {
        @include transition($transition-base);
    }
}


// Flush tables

.table-flush {
    td,
    th {
        border-left: 0;
        border-right: 0;
    }

    tbody {
        tr {
            &:first-child {
                td,
                th {
                    border-top: 0;
                }
            }

            &:last-child {
                td,
                th {
                    border-bottom: 0;
                }
            }
        }
    }
}


// Tables inside cards

.card {
    .table {
        margin-bottom: 0;

        td,
        th {
            padding-left: $card-spacer-x;
            padding-right: $card-spacer-x;
        }
    }
}


$table-arrow-asc-color: #007bff; // Color para flecha ascendente
$table-arrow-desc-color: #dc3545; // Color para flecha descendente

// Arrow styles
.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px; // Espacio entre el texto y la flecha
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: transform 0.2s;

    &.asc {
        border-bottom: 7px solid $table-arrow-asc-color; // Color de la flecha ascendente
    }

    &.desc {
        border-top: 7px solid $table-arrow-desc-color; // Color de la flecha descendente
    }

    &:hover {
        transform: scale(1.1); // Efecto al pasar el mouse
    }
}
