.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f9;
  }
  
  .input-style {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .button-style {
    width: 100%;
    background-color: #5e72e4;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .label-style {
    margin-bottom: 1px;
    display: block;
    color: #333;
  }
  
  .card-style {
    padding: 20px;
    margin-top: 20px;
  }
  
  .form-title {
    text-align: center;
    color: #333;
  }
  